.container {

    padding-left: 10%;
    padding-right: 10%;
  

    text-align: center;


    &__items {


        background-color: white;
        border-radius: 30px;
        position:static;
        box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
        
    }

    &__weather {
    
        display: flex;
        justify-content: space-evenly;
        
        
         
        .name {
            font-size: 34px;
            font-weight: 700;
            padding: 2rem;
        }
        .temp {
            font-size: 34px;
            font-weight: 700;
            padding: 2rem;
        }
        .desc {
            font-size: 34px;
            font-weight: 700;
            padding: 2rem;
        }
    }

    &__weatherItem{
        justify-content: space-evenly;
        flex-direction: row;

        height: 250px;
        width: 250px;
        margin-bottom: 5rem;
        padding: 25px;
    }

    &__attractions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        
   
 
    }

    &__attraction {
        min-height: 150px;
        font-size: 20px;
        font-weight:300;
        padding-left: 10rem;
        padding-right: 10rem;


  
    }

    h2 {
        font-size: 38px;
    }

    




}