.container {

    padding-left: 20em;
    padding-right: 20em;
  

    text-align: center;


    &__items {


        background-color: white;
        border-radius: 10px;
        position:static;
    }

    &__weather {
    

        display: flex;
        justify-content: space-evenly;
         
        .name {
            font-size: 34px;
            font-weight: 700;
            padding: 2rem;
        }
        .temp {
            font-size: 34px;
            font-weight: 700;
            padding: 2rem;
        }
        .desc {
            font-size: 34px;
            font-weight: 700;
            padding: 2rem;
        }
    }

    &__weatherItem{
        justify-content: space-evenly;
        flex-direction: row;

        height: 200px;
        width: 250px;
        margin-bottom: 5rem;
        padding: 25px;
    }

    &__attractions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        margin-left:11rem;
        
    }

    &__attraction {
        
        height: 200px;
        width: 250px;

        border: 1px solid red;
    }

    




}