
.loading-bar{
	position: absolute;
	top: 5%;
	left: 49%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}
	
.airplane{
	animation: goUp 1s ease-in-out infinite alternate, rotate 2s ease-out infinite;
}

#load {
  width:500px;
  height:36px;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  font-family:Helvetica, Arial, sans-serif;
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color: rgb(233, 209, 209);
  font-size: 20px;
  font-weight: 700;
  -webkit-text-stroke: 0.1px black;
}


@keyframes goUp{
  to{
    margin-top: 80px;
  }
}
@keyframes rotate{
  50%{
    transform: rotate(-15deg);
  }
  75%{
    transform: rotate(20deg);
  }
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
	35% {
		left: 41%; 
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%; 
		-moz-transform:rotate(0deg); 
		-webkit-transform:rotate(0deg); 
		-o-transform:rotate(0deg);
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%; 
		-moz-transform:rotate(-180deg); 
		-webkit-transform:rotate(-180deg); 
		-o-transform:rotate(-180deg); 
		transform:rotate(-180deg);
		opacity:0;
	}
}


