.searchbar {
    color: black;
    margin-top: 15rem;
    text-decoration: none;
  
    
    h1, h2 {
        text-align: center;
        color: black;
        font-size: 1.5em;
        line-height: 1.3em;
        font-weight: 300;
    }
    h1 {
        font-weight: 700;
        font-size: 2em;
    }
    
    h2 {
        margin-top: 100px;
        font-size: 1.3em;
        font-style: italic;
        font-weight: 100;
    }
    
    .body {
        width: 100%;
        height: 250px;
        box-sizing: border-box;
    }
    
    input {
        box-sizing: border-box;
        font-size: 13px;
        vertical-align: top;
    }
    
    .wrapper {
        text-align: center;
        position: relative;
        height: 80px;
        font-size: 0px;
        transform: translateY(-50%);
        
    }

    
    .search {
        padding: 0 30px;
        font-size: 18px;
        width: 60%;
        max-width: 600px;
        height: 80px;
        border: 5px solid black;
        border-radius: 70px 0 0 70px;
    }
    
    .submit {
        cursor: pointer;
        border: none;
        background-color: black;
        color: white;
        border-radius: 0 70px 70px 0;
        display: inline-block;
        width: 150px;
        height: 80px;
        

        &:hover {
            color: rgb(250, 152, 152);
            transform: scale(1.03);
        }
    }

    
}
